{% load static %}

<nav class="navbar navbar-expand-md navbar-light bg-warning">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
             <img src="{% static 'todo/logo.png' %}" width="30" height="30" class="d-inline-block align-top">
            <span>Todo Neo</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
    
                    <li class="nav-item {{ current }}">
                        <a class="nav-link" href="{% url 'current' %}">Текущие</a>
                    </li>
                    <li class="nav-item {{ completed }}">
                        <a class="nav-link" href="{% url 'completed' %}">Завершенные</a>
                    </li>
                    <li class="nav-item {{ create }}">
                        <a class="nav-link" href="{% url 'create' %}">Создать</a>
                    </li>
    
            </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <b><a class="nav-link">{{ user.username }}</a></b>
                    </li>
                    <li class="nav-item">
                        <a href="#" onclick="$('#signOutBtn').click()" class="nav-link">Выйти</a>
                        <form style='display: none;' method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button id="signOutBtn" type="submit">Выйти</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Зарегистрироваться</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    </nav>