{% load user_filters %}

<form method="POST">
    {% csrf_token %}
{##}
{#    <div class="form-group">#}
{#        <label for="title">Заголовок</label>#}
{#        <input type="text" name="title" class="form-control" id="title" value="{{ todo.title }}" required>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="title">Проект</label>#}
{#        <input type="text" name="project" class="form-control" id="title" value="{{ todo.project }}" required>#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label for="memo">Описание</label>#}
{#        <textarea name="memo" rows="5" class="form-control" id="memo" >{{ todo.memo }}</textarea>#}
{#    </div>#}
{#    <div class="form-group" aria-required="true">#}
{#        <label for="id_planed_date">Дата выполнения<span class="required">*</span></label>#}
{#        <input type="date" name="planed_date" class="form-control" required id="id_planed_date" value="{{ todo.planed_date }}">#}
{#    </div>#}
{#    <div class="form-group form-check">#}
{#        <input type="checkbox" name="important" class="form-check-input" id="important" {% if todo.important %}checked{% endif %}>#}
{#        <label class="form-check-label" for="important">Важная задача</label>#}
{#    </div>#}
    <div class="container">
    {% for field in form %}
        <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                <div class="col-md-6">
                    {{ field|addclass:"form-control" }}
                    {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
        </div>
    {% endfor %}
        <div class="container">
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-success" onclick="$('#complete').click()">Выполнена</button>
            <button type="button" class="btn btn-danger" onclick="$('#delete').click()">Удалить</button>
        </div>
    </div>
</form>