{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                 <h1>{{ todos.count }} текущих задач</h1>
            {% else %}
                           <h1>Текущие задачи</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if todos %}
            <div class="list-group">
            {% regroup todos by planed_date as tasks %}
                {%  for pl_date in tasks %}
                    <h5 style="margin-top: .5rem">{{ pl_date.grouper|date:'d E Y года' }}</h5>
                        {% for todo in pl_date.list %}
                            <a href="{% url 'edit' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b>{% if todo.memo %} - {{ todo.memo|truncatechars:30 }}{% endif %} | {{ todo.project }}</a>
                        {% endfor %}
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>Похоже, у тебя нет текущих задач! Отлично.</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'create' %}">Новая задача</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
