{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            {% if todos %}
                 <h1>{{ todos.count }} текущих задач</h1>
            {% else %}
                           <h1>Текущие задачи</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
        {% if todos %}
            <div class="list-group">
                {% for todo in todos %}
                    <a href="{% url 'edit' todo.id %}" class="list-group-item list-group-item-action{% if todo.important %} list-group-item-danger{% endif %}"><b>{{ todo.title }}</b>{% if todo.memo %} - {{ todo.memo|truncatechars:30 }}{% endif %} | Запланировано на дату: {{ todo.planed_date|date:'d E Y г.' }}</a>
                {% endfor %}
            </div>
        {% else %}
            <div class="text-center">
                <h2>Похоже, у тебя нет текущих задач! Отлично.</h2>
            <br>
            <a role="button" class="btn btn-primary" href="{% url 'create' %}">Новая задача</a>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
