{% extends "base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Простой список задач.</h1>
            <p>Жизнь - радость. Но жизнь и труд. Миллион вещей можно делать ежедневно, особенно если ты семирукий хрен. Но имеет значение только то,что <u>ты хочешь делать</u>. Задачник <b><i>Todo Neo</i></b> поможет выпрыгнуть из детсадовских шатнишек и начать долбить задачи по полной.</p>
        <a role="button" class="btn btn-primary btn-lg" href={% if user.is_authenticated %}"{% url 'create' %}"{% else %}"{% url 'signup' %}"{% endif %}>Порешать задачи</a>
        </div>
    </div>

{% endblock %}
